

h1 {
  padding-top: 20px;
  text-align: center;
}

h2 {
  text-align: center;
}

.width-input {
  min-width: 180px;
  max-width: 400px;
  width:150%;
}

.mat-mdc-radio-button ~ .mat-mdc-radio-button {
  margin-left: 16px;
}

