

h1 {
  padding-top: 20px;
  text-align: center;
}

h2 {
  text-align: center;
}

.width-motivo {
  width: 532px;
}


.width-input {
  width: 250px;

}

#margen-div-seleccion {
margin-left: 425px;
}


.mat-mdc-radio-button ~ .mat-mdc-radio-button {
  margin-left: 30px;
}

