

h1 {
  padding-top: 20px;
  text-align: center;
}

h2 {
  text-align: center;
}

.width-motivo {
  width: 532px;
}


.width-input {
  width: 250px;

}


.mat-mdc-radio-button ~ .mat-mdc-radio-button {
  margin-left: 20px;
}


.button-row {
  display: table-cell;
  max-width: 600px;
}

.button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

