<!-- Título central -->
<div class="title" customFlexbox="row" cFAlign="center center" cFGap="10px">
  RicoRepair: Añadir nuevo cliente
</div>
  
  <!-- Contenedor Registro -->
  <div class="principContainer" customFlexbox="row" cFAlign="center center">
  
    <!-- Mat-card -->
    <div customFlexbox="" cFflex="80">  
    <mat-card>
      <!-- Cabecera mat-card-->
      <mat-card-header>
            <mat-card-title>
                <span>
                    Nuevo Cliente:
                </span>
            </mat-card-title>
      </mat-card-header>
  
      <!-- Formulario Registro -->
      <form [formGroup]="formRegister" (ngSubmit)="onSave()" autocomplete="off">
  
        <!-- Contenido mat-card-->
        <mat-card-content>
          <div customFlexbox="column" cFAlign="space-around stretch" cFGap="25px">
  
            <!-- Bloque nombre y apellidos -->
              <div customFlexbox="row" customFlexbox.xs="column" cFGap="25px">
                  <!-- Nombre -->
                    <mat-form-field>
                        <mat-label>Nombre</mat-label>
                        <input type="text" matInput formControlName="name"
                        placeholder="Nombre">
                        <mat-error>
                          @if (isValidField('name')) {
                            <span> {{ getFieldError('name') }} </span>
                          }
                        </mat-error>
                    </mat-form-field>
                  <!-- Apellidos -->
                    <mat-form-field>
                        <mat-label>Apellidos</mat-label>
                        <input type="text" matInput formControlName="surname"
                        placeholder="Ej: apellido1 apellido2">
                        <mat-error>
                          @if (isValidField('surname')) {
                            <span> {{ getFieldError('surname') }} </span>
                          }
                        </mat-error>
                    </mat-form-field>
              </div> <!-- FIN bloque nombre y apellidos -->
  
            <!-- Bloque email y teléfono -->
            <div customFlexbox="row" customFlexbox.xs="column" cFGap="25px">
                <!-- E-Mail -->
                  <mat-form-field>
                      <mat-label>E-Mail</mat-label>
                      <input type="text" matInput formControlName="email"
                      placeholder="Ej: usuario@example.com">
                      <mat-error>
                        @if (isValidField('email')) {
                          <span> {{ getFieldError('email') }} </span>
                        }
                      </mat-error>
                  </mat-form-field>
                <!-- TELÉFONO -->
                  <mat-form-field>
                      <mat-label>Teléfono</mat-label>
                      <input type="text" matInput formControlName="tlf"
                      placeholder="Ej: +34 912-345-678">
                      <mat-error>
                        @if (isValidField('tlf')) {
                          <span> {{ getFieldError('tlf') }} </span>
                        }
                      </mat-error>
                  </mat-form-field>
            </div> <!-- FIN bloque email y teléfono-->
  
            <!-- Bloque password1 y password2 -->
              <div customFlexbox="row" customFlexbox.xs="column" cFGap="25px">
                  <!-- Password1 -->
                    <mat-form-field>
                        <mat-label>Contraseña</mat-label>
                        <input type="password" matInput
                        formControlName="password1" placeholder="Contraseña">
                        <mat-error>
                          @if (isValidField('password1')) {
                            <span> {{ getFieldError('password1') }} </span>
                          }
                        </mat-error>
                    </mat-form-field>
  
                  <!-- Si hay error en password1, como el mensaje es largo,
                   mete un espacio entre campos-->
                  @if (isValidField('password1') &&
                  (formRegister.controls['password1'].hasError('pattern'))) {
                    <div customFlexbox="" cfHide cfShow.xs
                          style="height: 42px;"></div>
                  }
  
                  <!-- Password2 -->
                    <mat-form-field>
                        <mat-label>Confirmar Contraseña</mat-label>
                        <input type="password" matInput
                        formControlName="password2"
                        placeholder="Confirmar la contraseña">
                        <mat-error>
                          @if (isValidField('password2')) {
                            <span> {{ getFieldError('password2') }} </span>
                          }
                        </mat-error>
                    </mat-form-field>
                </div> <!-- FIN bloque password1 y password2 -->
          </div>  <!-- FIN inputs -->
  
              <!-- Separacion normal inputs-boton-->
              <div style="height: 50px;"></div>
  
               <!-- Si hay error en password1, como el mensaje es largo,
                   mete un espacio más grande entre inputs y boton-->
                   @if (isValidField('password1') &&
                   (formRegister.controls['password1'].hasError('pattern'))) {
                    <div customFlexbox="" cfShow cfHide.xs
                          style="height: 42px;"></div>
                  }
  
              <!-- Boton Ingresar -->
              <div customFlexbox="" cFAlign="space-around center">
                  <button mat-flat-button color="primary"
                    (click)="onRegister()">
                      Crear Cuenta
                    <mat-icon>add_circle</mat-icon>
                  </button>
              </div>
  
        </mat-card-content>
  
        <!-- Link Nueva Cuenta
        <div class="flex justify-content-end">
          <a routerLink="/auth/login">¿Ya tienes cuenta?</a>
        </div> -->
  
        <!-- Link Olvido Contraseña -->
        <!-- <div class="flex justify-content-end mt-5">
          <a routerLink="/auth/recover-password">¿Olvido su contraseña?</a>
        </div> -->
  
  
      </form> <!-- FIN Formulario login-->
  
    </mat-card>
    </div>
  </div>

  <!-- <div customFlexbox="row" cFflex="40" cFAlign="center center" style="background-color: antiquewhite;">
  
    <div customFlexbox="column">
      <span>Valid</span>
      <pre>{{ formRegister.valid | json }}</pre>

      <span>Pristine</span>
      <pre>{{ formRegister.pristine | json }}</pre>

      <span>Touched</span>
      <pre>{{ formRegister.touched | json }}</pre>

      <span>Value</span>
      <pre>{{ formRegister.value | json }}</pre>
    </div>

    <div style="padding: 50px;">
    </div>

    <div>

      <span>Nombre</span>
      <pre>{{ formRegister.controls['name'].value | json }}</pre>

      <span>E-Mail</span>
      <pre>{{ formRegister.controls['email'].value | json }}</pre>

      <span>Password2 Errores</span>
      <pre>{{ formRegister.controls['password2'].errors | json }}</pre>

      <span>Password1 Errores</span>
      <pre>{{ formRegister.controls['password1'].errors | json }}</pre>
    </div>


  </div> -->
