<!-- Título central -->
<div class="title" customFlexbox="row" cFAlign="center center" cFGap="10px">
    RicoRepair: Crear nuevo parte de intervención
</div>

<!-- Contenedor general Parte -->
<div class="principContainer" customFlexbox="row" customFlexbox.xs="column" cFGap="20px" cFflex="100">

    <!-- Bloque 1: Datos Cliente-->
    <div customFlexbox="" cFflex="40">  
        <mat-card>
            <!-- Cabecera mat-card cliente-->
            <mat-card-header>
                <mat-card-title customFlexbox="column" cFGap="25px">
                    <span>
                        Añadir parte de intervención a:
                    </span>
    
                    <!-- Campo Busca Cliente -->
                    <mat-form-field>
                        <mat-label>Buscar cliente</mat-label>
                        <input matInput placeholder="Buscar cliente" [formControl]="clienteControl"
                                [matAutocomplete]="auto">
                        <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field>
                    
                    <!-- Lista de clientes filtrados -->
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="seleccionarCliente($event.option.value)">
                    <mat-option *ngFor="let cliente of clientesFiltrados | async" [value]="cliente">
                        {{ cliente.name }} {{ cliente.surname }}
                    </mat-option>
                    </mat-autocomplete>
                    
                    <span>
                        Datos Cliente ~ {{ clienteForm.get('clienteId')?.value }} ~
                    </span>
                </mat-card-title>
            </mat-card-header>
    
            <!-- Formulario 1 Datos Cliente -->
                <form [formGroup]="clienteForm">
    
                <!-- Contenido mat-card-->
                <mat-card-content>
                    <div customFlexbox="column" cFAlign="space-around stretch" cFGap="25px">
                        <div customFlexbox="row" customFlexbox.s="column" cFGap="25px">
                            <!-- Nombre, Apellidos -->
                            <mat-form-field appearance="outline">
                                <mat-label>Nombre</mat-label><input type="text" matInput formControlName="name" readonly>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>Apellidos</mat-label><input type="text" matInput formControlName="surname" readonly>
                            </mat-form-field>
                        </div>
                        <div customFlexbox="row" customFlexbox.s="column" cFGap="25px">
                            <!-- Email, Teléfono -->
                            <mat-form-field appearance="outline">
                                <mat-label>E-Mail</mat-label><input type="text" matInput formControlName="email" readonly>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>Teléfono</mat-label><input type="text" matInput formControlName="tlf" readonly>
                            </mat-form-field>
                        </div>
                    </div>
                </mat-card-content>
            </form> <!-- FIN Formulario 1-->
        </mat-card>
    </div> <!-- FIN Bloque 1: Datos Cliente-->

    <!-- Bloque 2: Datos Parte Intervención-->
    <div customFlexbox="" cFflex="60">
        <mat-card>
            <!-- Cabecera mat-card Datos Intervención-->
            <mat-card-header customFlexbox="row" customFlexbox.s="column" cFAlign="space-between center">
                <mat-card-title>
                    <span>
                        Datos Parte Intervención
                    </span>
                </mat-card-title>
                <span>
                    {{ currentDate | date: 'dd/MM/yyyy' }}
                </span>
            </mat-card-header>
    
            <!-- Formulario 2 Datos Intervención -->
            <form [formGroup]="intervencionForm" (ngSubmit)="create()">
                            
                <!-- Contenido mat-card Datos Intervención-->
                <mat-card-content>
                    <div customFlexbox="column" cFAlign="space-around stretch" cFGap="25px">
                        
                        <!-- Bloque dispositivo y materiales -->
                        <div customFlexbox="row" customFlexbox.s="column" cFGap="25px">
                            <!-- Dispositivo -->
                                <mat-form-field>
                                    <mat-label>Dispositivo</mat-label>
                                    <input type="text" matInput formControlName="dispositivo" placeholder="Dispositivo">
                                    <mat-error>
                                        @if (isValidField('dispositivo')) {
                                          <span> {{ getFieldError('dispositivo') }} </span>
                                        }
                                    </mat-error>
                                </mat-form-field>
                            <!-- Otros materiales -->
                                <mat-form-field>
                                    <mat-label>Otros materiales</mat-label>
                                    <input type="text" matInput formControlName="otrosMateriales" placeholder="Otros materiales">
                                </mat-form-field>
                        </div> <!-- FIN dispositivo y materiales -->
    
                        <!-- Bloque estado y fecha estimada salida -->
                        <div customFlexbox="row" customFlexbox.s="column" cFGap="25px">
                            <!-- Estado -->
                                <mat-form-field>
                                    <mat-label>Estado</mat-label>
                                    <mat-select formControlName="estado">
                                        <mat-option *ngFor="let estado of estados" [value]="estado.valor">
                                        {{ estado.label }}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error>
                                        @if (isValidField('estado')) {
                                          <span> {{ getFieldError('estado') }} </span>
                                        }
                                    </mat-error>
                                </mat-form-field>
                            <!-- Fecha estimada de salida -->
                                <mat-form-field>
                                    <mat-label>Fecha estimada fin</mat-label>
                                    <input matInput formControlName="fechaEstimada" placeholder="Fecha estimada" 
                                            [matDatepicker]="picker" [min]="today">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                    <mat-error>
                                        @if (isValidField('fechaEstimada')) {
                                          <span> {{ getFieldError('fechaEstimada') }} </span>
                                        }
                                    </mat-error>
                                </mat-form-field>
                        </div> <!-- FIN  estado y fecha estimada salida -->
                
                        <!-- Bloque motivo cliente e informe empresa -->
                        <div customFlexbox="row" customFlexbox.s="column" cFGap="25px">
                            <!-- Motivo Cliente -->
                                <mat-form-field>
                                    <mat-label>Motivo cliente</mat-label>
                                    <textarea matInput formControlName="motivoCliente" placeholder="Motivo cliente"></textarea>
                                    <mat-error>
                                        @if (isValidField('motivoCliente')) {
                                          <span> {{ getFieldError('motivoCliente') }} </span>
                                        }
                                    </mat-error>
                                </mat-form-field>
                            <!-- Informe Empresa -->
                                <mat-form-field>
                                    <mat-label>Informe empresa</mat-label>
                                    <textarea matInput formControlName="informeEmpresa" placeholder="Informe empresa"></textarea>
                                    <mat-error>
                                        @if (isValidField('informeEmpresa')) {
                                          <span> {{ getFieldError('informeEmpresa') }} </span>
                                        }
                                    </mat-error>
                                </mat-form-field>
                        </div> <!-- FIN motivo cliente e informe empresa -->
                
                        <!-- Campo Incluir Documentación Técnica -->
                        <div customFlexbox="column">
                                <mat-label>DOCUMENTACIÓN TÉCNICA (Presupuesto u otros)</mat-label>
                                <mat-radio-group formControlName="documentacionTecnica">
                                <mat-radio-button value="si">Sí</mat-radio-button>
                                <mat-radio-button value="no">No</mat-radio-button>
                                </mat-radio-group>
                        </div> <!-- FIN Documentación Técnica -->
    
                        <!-- Botones -->
                        <div customFlexbox="row" cFAlign="space-between end" cFGap="60px">
                            <button mat-raised-button color="primary">Crear Parte</button>
                            <button type="button" mat-raised-button color="warn" (click)="goBack()">Cancelar</button>
                            <button type="button" mat-raised-button color="accent" (click)="generarQR()">Generar QR</button>
                        </div>
                    </div>
    
                </mat-card-content>
            </form>
        </mat-card> 
    </div> <!-- FIN Bloque 2: Datos Parte Intervención-->

</div> <!-- FIN Contenedor general -->
