<!-- Toolbar Empresa -->
<mat-toolbar color="primary">

    <img class="logo-rs" src="assets/images/logo-rs.png"> 

    <div cFGap="10px" cfHide.s cfHide.xs>
        <span>{{ user?.email }} </span>
         &nbsp;
        <span> {{ user?.rol }}</span>
    </div>

    <div customFlexbox="" cfHide cfShow.s cfShow.xs>
        <span>{{ user?.email }}</span>
    </div>
       
    <span class="spacer"></span>
   
    <div>
        <button mat-icon-button matTooltip="Menú principal"(click)="volverHome()" aria-label="Volver a home">
            <mat-icon>home</mat-icon>
        </button>
         &nbsp;
       <button mat-icon-button matTooltip="Cerrar Sesión" (click)="onLogout()">
            <mat-icon>power_settings_new</mat-icon>
       </button>
    </div>   

</mat-toolbar>
