<!-- Título central -->
<div class="title" customFlexbox="row" cFAlign="space-between center" cFGap="10px" style="padding-inline: 40px;">
    
    <div>Historial intervenciones: PARTE: {{ parteId }}</div>
    <!-- Botón volver listado partes -->
    <div>
        <button mat-raised-button color="warn"
                (click)="goBack()">Volver
                <mat-icon>undo</mat-icon>
        </button>
    </div>
</div>

<!-- Contenedor general historial y formulario -->
<div class="principContainer" customFlexbox="column" cfGap="40px">

    <mat-form-field appearance="fill">
        <mat-label>Filtrar</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Filtrar..." #input>
    </mat-form-field>

    <!-- Tabla historial -->
    <div customFlexbox="" class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>
        
            <!-- Columna ID -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                <td mat-cell *matCellDef="let historial"> {{historial.id}} </td>
            </ng-container>

            <!-- Columna Fecha -->
            <ng-container matColumnDef="fecha">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> FECHA </th>
                <td mat-cell *matCellDef="let historial"> {{ historial.fecha | date: 'dd/MM/yyyy' }} </td>
            </ng-container>
    
            <!-- Columna Técnico -->
            <ng-container matColumnDef="tecnico">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> TÉCNICO </th>
                <td mat-cell *matCellDef="let historial"> {{historial.tecnico}} </td>
            </ng-container>
    
            <!-- Columna Intervención -->
            <ng-container matColumnDef="intervencion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> INTERVENCIÓN </th>
                <td mat-cell *matCellDef="let historial"> {{historial.intervencion}} </td>
            </ng-container>
    
            <!-- Columna Botón de Selección -->
            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef> ACCIONES </th>
                <td mat-cell *matCellDef="let historial">
                    <button mat-mini-fab color="primary" matTooltip="Ver Detalle"
                            (click)="selectRow(historial)">
                    <mat-icon>arrow_drop_down</mat-icon>
                    </button>
                </td>
            </ng-container>
    
            <!-- Cabecera y columnas de la tabla -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
            <!-- No coincide la búsqueda del filtro-->
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="5">No hay datos que coincidan con el filtro "{{input.value}}"</td>
            </tr>
        </table>
    
        <mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>
    </div>

    <!-- Separacion vertical-->
    <div class="alto20"></div>

    <!-- Formulario de intervención -->
    <div customFlexbox="" cFGap="30px" style="background-color: #d8d5d5; padding: 30px;">
        <form [formGroup]="intervencionForm" (ngSubmit)="onSubmit()">
            
            <div customFlexbox="column" cFGap="30px">
                <!-- Campos fecha y técnico -->
                <div customFlexbox="row" cFGap="30px">
                    <mat-form-field>
                        <mat-label>Fecha</mat-label>
                        <input matInput formControlName="fecha" [matDatepicker]="picker" [min]="today" [disabled]="isRowSelected">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-error *ngIf="intervencionForm.get('fecha')?.hasError('required') && intervencionForm.get('fecha')?.touched">
                            Este campo es requerido.
                        </mat-error>
                      </mat-form-field>
        
                      <mat-form-field>
                        <mat-label>Técnico</mat-label>
                        <input matInput formControlName="tecnico" readonly>
                        <mat-error *ngIf="intervencionForm.get('tecnico')?.hasError('required') && intervencionForm.get('tecnico')?.touched">
                            Este campo es requerido.
                        </mat-error>
                      </mat-form-field>
                </div>
        
                <!-- Campos intervención y descripción -->
                <div customFlexbox="row" cFGap="30px">
                    <mat-form-field>
                        <mat-label>Intervención</mat-label>
                        <input matInput formControlName="intervencion" [readonly]="isRowSelected">
                        <mat-error *ngIf="intervencionForm.get('intervencion')?.hasError('required') && intervencionForm.get('intervencion')?.touched">
                            Este campo es requerido.
                        </mat-error>
                      </mat-form-field>
        
                      <mat-form-field>
                        <mat-label>Descripción</mat-label>
                        <textarea matInput formControlName="descripcion" [readonly]="isRowSelected"></textarea>
                        <mat-error *ngIf="intervencionForm.get('descripcion')?.hasError('required') && intervencionForm.get('descripcion')?.touched">
                            Este campo es requerido.
                        </mat-error>
                      </mat-form-field>
                </div>

                <!-- Botones Añadir y Cancelar -->
                <div customFlexbox="row" cFAlign="end end" cFGap="15px">
                    <button mat-raised-button type="submit" color="primary">
                        Añadir
                        <mat-icon>check</mat-icon>
                    </button>
                    <button mat-raised-button type="button" color="warn" (click)="onReset()">
                        Limpiar
                        <mat-icon>clear</mat-icon>
                    </button>
                </div>
            </div>
        </form>
    </div>

    
</div>
    