<!-- Título central -->
<div class="title" customFlexbox="row" cFAlign="center center" cFGap="10px">RicoRepair</div>

<!-- Contenedor bloque 1-->
<div class="bloque" customFlexbox="row" customFlexbox.xs="column" cFGap="20px" cFflex="100">

    <div class="bloque-item" customFlexbox="column" cFAlign="space-evenly center" cFGap="20px" cFflex="50" 
         (click)="goNewClient()" style="background-color:rgb(247, 210, 219);">
         ALTA CLIENTE
         <mat-icon>person_add</mat-icon>
    </div>
    <div class="bloque-item" customFlexbox="column" cFAlign="space-evenly center" cFGap="20px" cFflex="50" 
         (click)="goNewParte()" style="background-color:rgb(247, 210, 219);">
         CREAR PARTE
         <mat-icon>add</mat-icon>
    </div>

</div> <!-- FIN Contenedor 1 -->

<!-- Contenedor bloque 2-->
<div class="bloque" customFlexbox="row" customFlexbox.xs="column" cFGap="20px" cFflex="100">
    
    <div class="bloque-item" customFlexbox="column" cFAlign="space-evenly center" cFGap="20px" cFflex="50" 
         (click)="goListClients()" style="background-color:rgb(230, 230, 236);">
         LISTADO CLIENTES
         <mat-icon>people</mat-icon>
    </div>
    <div class="bloque-item" customFlexbox="column" cFAlign="space-evenly center" cFGap="20px" cFflex="50" 
         (click)="goListPartes()" style="background-color:rgb(230, 230, 236);">
         LISTADO PARTES
         <mat-icon>inventory</mat-icon>
    </div>

</div> <!-- FIN Contenedor 2 -->
