<!-- Título central -->
<div class="title" customFlexbox="row" cFAlign="center center" cFGap="10px">RicoRepair</div>

<!-- Contenedor general -->
<div class="principContainer" customFlexbox="column" customFlexbox.xs="column" 
     cFAlign="center center" cFGap="20px">
     
    <!-- Bloque 1 -->
    <div class="menu-block" customFlexbox="row" customFlexbox.s="column" customFlexbox.xs="column"
            cFAlign="space-around center" cFGap="20px">
        <mat-card class="menu-item" customFlexbox="column" (click)="goNewClient()">
            <div>ALTA CLIENTE</div>
            <mat-icon>person_add</mat-icon>
        </mat-card>
        <mat-card class="menu-item" customFlexbox="column" (click)="goNewParte()">
            <div>CREAR PARTE</div>
            <mat-icon>add</mat-icon>
        </mat-card>
    </div>
    
    <!-- Bloque 2 -->
    <div class="menu-block" customFlexbox="row" customFlexbox.s="column" customFlexbox.xs="column"
            cFAlign="space-around center" cFGap="20px">
        <mat-card class="menu-item" customFlexbox="column" (click)="goListClients()">
            <div>LISTADO CLIENTES</div>
            <mat-icon>people</mat-icon>
        </mat-card>
        <mat-card class="menu-item" customFlexbox="column" (click)="goListPartes()">
            <div>LISTADO PARTES</div>
            <mat-icon>inventory</mat-icon>
        </mat-card>
    </div>

    <!-- Ir a Usuario -->
    <div customFlexbox="column" cFAlign="center center">
        <button mat-flat-button color="primary" (click)="onUsuario()">
        IR A USUARIO
        </button>
    </div>

</div> <!-- FIN Contenedor general -->
