
<mat-sidenav-container fullscreen>

    <!-- Toolbar arriba -->
    <mat-toolbar color="primary">
        <!-- Diferentes Opciones toolbar -->
        <button mat-button>
            Info
        </button>
        <!-- ... -->
    </mat-toolbar>

    <!-- Logo Inicial RicoRepair -->
    <div customFlexbox="column" cFAlign="center center" class="alto40">
      <h1>RicoRepair</h1>
    </div>

    <!-- Contenedor Login -->
    <div customFlexbox="column" class="padContent" >

        <!-- Formulario Login Cliente -->
        <div customFlexbox="column" class="padInputs"
             style="background-color: rgb(236, 217, 243);">

            <span class="text-lg mb-4">Login</span>

            <mat-form-field class="padInputs">
                <mat-label>Usuario</mat-label>
                <input type="text" matInput placeholder="Nombre de usuario">
            </mat-form-field>

            <mat-form-field class="padInputs">
                <mat-label>Contraseña</mat-label>
                <input type="password" matInput placeholder="Contraseña">
            </mat-form-field>

            <div class="flex justify-content-center mt-5" >
              <button mat-button mat-flat-button color="primary"
                (click)="onLogin()">
                <mat-icon>save</mat-icon>
                Ingresar
              </button>
            </div>


            <div class="flex justify-content-end mt-5">
                <a routerLink="/auth/new-account">¿No tienes cuenta?</a>
            </div>

        </div>

    </div>


 <router-outlet></router-outlet>


</mat-sidenav-container> <!-- FIN toolbar principal -->
