<div style="background-color:lightblue" customFlexbox="row">

  <!-- Margen izquierdo Empresa -->
    <div style="background-color: rgb(187, 203, 197);"
    cFflex="50">

      <h1>EMPRESA</h1>
      <hr>

      <div class="flex flex-column">

        <span class="text-lg mb-4">Login</span>

        <mat-form-field>
          <mat-label>Usuario</mat-label>
          <input type="text" matInput placeholder="Nombre de usuario">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Contraseña</mat-label>
          <input type="password" matInput placeholder="Contraseña">
        </mat-form-field>

        <button mat-button mat-flat-button color="primary"
            (click)="goAdmin()">
          <mat-icon>save</mat-icon>
          Ingresar
        </button>


        <div class="flex justify-content-end mt-5">
          <a routerLink="/auth/new-account">¿Ya tienes cuenta?</a>
        </div>

      </div>

      <!-- <div customFlexbox="row" cFAlign="space-around center">

           <button class="btn btn-primary"
              (click)="goAdmin()">
              Empresa
           </button>

      </div> -->


    </div>



  <!-- Margen derecho Cliente -->
    <div style="background-color: rgb(231, 218, 99);"
    cFflex="">

        <h1>CLIENTE</h1>
        <hr>

        <div class="flex flex-column">

          <span class="text-lg mb-4">Login</span>

          <mat-form-field>
            <mat-label>Usuario</mat-label>
            <input type="text" matInput placeholder="Nombre de usuario">
          </mat-form-field>

          <mat-form-field>
            <mat-label>Contraseña</mat-label>
            <input type="password" matInput placeholder="Contraseña">
          </mat-form-field>

          <button mat-button mat-flat-button color="primary"
            (click)="goUser()">
            <mat-icon>save</mat-icon>
            Ingresar
          </button>


          <div class="flex justify-content-end mt-5">
            <a routerLink="/auth/new-account">¿Ya tienes cuenta?</a>
          </div>

        </div>

        <!-- <div customFlexbox="row" cFAlign="space-around center">

          <button class="btn btn-primary"
              (click)="goUser()">
              Cliente
          </button>

     </div> -->


    </div>




</div>
