.mat-mdc-form-field {
    width: 100%;
}

td, th {
    width: 14.28%;
}

.mat-table {
    background-color: #f0eaea; /* Color de fondo de la tabla */
}

.mat-mdc-row {
    background-color: #fff4f4; /* Color de fondo de las filas */
}
  
.mat-mdc-row:hover {
    background-color: #e0e0e0; /* Color al pasar el mouse sobre una fila */
}

.mat-mdc-header-row{
    background-color: #ada6a6; /* Color de fondo del encabezado */
    color: #fff; /* Color del texto del encabezado */
}

.action-buttons button {
    margin: 5px 10px 5px 0px; /*t,r,b,l*/
}
  