<!-- Título central -->
<div class="title" customFlexbox="row" cFAlign="space-between center" cFGap="10px" style="padding-inline: 40px;">
    
    <div>Detalle parte de intervención: {{ parte.id }}</div>
    <!-- Botón volver listado partes -->
    <div>
        <button mat-raised-button color="warn"
                (click)="goBack()">Volver
                <mat-icon>undo</mat-icon>
        </button>
    </div>
</div>

<!-- Contenedor general Datos Cliente y Parte -->
<div class="principContainer" customFlexbox="column" cfGap="40px">

    <!-- Contenedor de Datos del Cliente (colapsable) -->
    <mat-expansion-panel [(expanded)]="panelOpenState" style="background-color: rgb(236, 217, 243);">
        <mat-expansion-panel-header>
        <mat-panel-title>Datos del Cliente</mat-panel-title>
        <mat-icon>account_circle</mat-icon>
        </mat-expansion-panel-header>

        <div customFlexbox="row" cFGap="20px">
           <mat-form-field>
                <mat-label>Nombre</mat-label>
                <input matInput placeholder="Nombre" [(ngModel)]="cliente.name">
            </mat-form-field>
    
            <mat-form-field>
                <mat-label>Apellidos</mat-label>
                <input matInput placeholder="Apellidos" [(ngModel)]="cliente.surname">
            </mat-form-field>
        
            <mat-form-field>
                <mat-label>E-Mail</mat-label>
                <input matInput placeholder="E-mail" [(ngModel)]="cliente.email">
            </mat-form-field>
        
            <mat-form-field>
                <mat-label>Teléfono</mat-label>
                <input matInput placeholder="Teléfono" [(ngModel)]="cliente.tlf">
            </mat-form-field>  
        </div>
       
    </mat-expansion-panel>

    <!-- Separación vertical-->
    <div class="alto20"></div>

    <!-- Contenedor de Datos del Parte de Intervención -->
    <div *ngIf="parte" customFlexbox="column" cFGap="20px" style="background-color: rgb(232, 219, 236); padding: 30px;">
       
        <!-- Columna 1 Campos Dispositivo y Otros Materiales --> 
        <div customFlexbox="row" cFGap="20px" >
            <mat-form-field>
                <mat-label>Dispositivo</mat-label>
                <input matInput placeholder="Dispositivo" [(ngModel)]="parte.dispositivo">
            </mat-form-field>
        
            <mat-form-field>
                <mat-label>Otros materiales</mat-label>
                <input matInput placeholder="Otros materiales" [(ngModel)]="parte.otrosMateriales">
            </mat-form-field>
        </div>
       
        <!-- Columna 2 Campos Estado y Fecha Estimada Fin --> 
        <div customFlexbox="row" cFGap="20px" >
            <mat-form-field>
                <mat-label>Estado</mat-label>
                <mat-select placeholder="Estado" [(ngModel)]="parte.estado">
                    <mat-option *ngFor="let estado of estados" [value]="estado.valor">
                        {{ estado.label }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            
            <mat-form-field>
                <mat-label>Fecha estimada fin</mat-label>
                <input matInput [matDatepicker]="picker" [min]="today" placeholder="Fecha Estimada" [(ngModel)]="parte.fechaEstimada">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
    
        <!-- Columna 3 Campo Motivo Cliente --> 
        <div>
            <mat-form-field>
                <mat-label>Motivo cliente</mat-label>
                <textarea matInput placeholder="Motivo del cliente" [(ngModel)]="parte.motivoCliente"></textarea>
            </mat-form-field>
        </div>

        <!-- Columna 4 Campo Informe Empresa --> 
        <div>
            <mat-form-field>
                <mat-label>Informe empresa</mat-label>
                <textarea matInput placeholder="Informe empresa" [(ngModel)]="parte.informeEmpresa"></textarea>
            </mat-form-field>
        </div>

        <!-- Columna 5 Documentación Técnica --> 
        <div customFlexbox="column" cFGap="20px">
            <label>Documentación técnica (Presupuesto u otros)</label>
            <mat-radio-group [(ngModel)]="parte.documentacionTecnica">
                <mat-radio-button value="Sí">Sí</mat-radio-button>
                <mat-radio-button value="No">No</mat-radio-button>
            </mat-radio-group>
        </div>
    </div>

    <!-- Separación vertical-->
    <div class="alto20"></div>
    
    <!-- Botones de Guardar y Cancelar -->
    <div customFlexbox="row" cFAlign="end end" cFGap="15px">
        <button mat-raised-button color="primary" (click)="guardarCambios()">
            Guardar Cambios
            <mat-icon>check</mat-icon>
        </button>
        <button mat-raised-button color="warn" (click)="reestablecerCambios()">
            Reestablecer
            <mat-icon>clear</mat-icon>
        </button>
    </div>

</div>
