<!-- Título central -->
<div class="title" customFlexbox="row" cFAlign="space-between center" cFGap="10px" style="padding-inline: 40px;">
    
    <div>Detalle cliente: {{ cliente.id }}</div>
    <!-- Botón volver listado partes -->
    <div>
        <button mat-raised-button color="warn"
                (click)="goBack()">Volver
                <mat-icon>undo</mat-icon>
        </button>
    </div>
</div>

<!-- Contenedor de Datos del Cliente -->
<div class="principContainer" customFlexbox="column" cFGap="20px" style="background-color: rgb(232, 219, 236); padding: 30px;">
       
       
        <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input matInput placeholder="Nombre" [(ngModel)]="cliente.name">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Apellidos</mat-label>
            <input matInput placeholder="Apellidos" [(ngModel)]="cliente.surname">
        </mat-form-field>

        <mat-form-field>
            <mat-label>E-Mail</mat-label>
            <input matInput placeholder="E-mail" [(ngModel)]="cliente.email">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Teléfono</mat-label>
            <input matInput placeholder="Teléfono" [(ngModel)]="cliente.tlf">
        </mat-form-field>


    <!-- Botones de Guardar y Cancelar -->
    <div customFlexbox="row" cFAlign="end end" cFGap="15px">
        <button mat-raised-button color="primary" (click)="guardarCambios()">
            Guardar Cambios
            <mat-icon>check</mat-icon>
        </button>
        <button mat-raised-button color="warn" (click)="reestablecerCambios()">
            Reestablecer
            <mat-icon>clear</mat-icon>
        </button>
    </div>


</div>
