.listScroll{
    height: 500px;
    width: 100%;
}

mat-card {
    margin-bottom: 10px; /* Espaciado entre los cards */
    cursor: pointer; /* Cambia el cursor al pasar sobre el card */
    background-color:rgb(247, 218, 247);
}
  
mat-card:hover {
    background-color: #f0f0f0; /* Cambia el fondo al pasar el mouse */
}

.mat-mdc-form-field {
    width: 100%;
}

.mensaje-advertencia{
    background-color: #fff8e1;
    border: 1px solid #ffecb3;
    padding: 20px;
    display: flex;
    gap: 16px;
    border-radius: 8px;
}

.mensaje-icono {
    color: #ff9800;
    font-size: 25px;
}

.mensaje-texto {
    color: #5d4037;
    font-size: 18px;
    line-height: 1.8;
}