<!-- Toolbar Auth -->
<mat-toolbar color="primary">

    <!-- Toolbar en baja resolucion -->
    <div cfHide cfShow.xs>
          <!-- TODO: añadir funciones toolbar baja resolución -->
          <!-- ... -->
    </div>

    <span>RicoSoft</span>

    <!-- Toolbar en alta resolución -->
    <div cfShow cfHide.xs>
      <button mat-button>
        <mat-icon>info</mat-icon>
        <!-- TODO: añadir funciones toolbar alta resolución -->
        <!-- ... -->
      </button>
    </div>


   <span class="spacer"></span>

    <!-- <img cfClass.m="logo_md" cfClass.s="logo_sm" cfClass.xs="logo_xs"
        src="assets/...">  -->

</mat-toolbar>
