<!-- Toolbar Auth -->

<!-- Toolbar en baja resolucion -->
<mat-toolbar color="primary" cfHide cfShow.xs>
    <img class="logo-rs" src="assets/images/logo-rs.png"> 
    <button mat-button>
      <mat-icon>info</mat-icon>
        <!-- TODO: añadir funciones toolbar baja resolución -->
        <!-- ... -->
    </button>
</mat-toolbar>
      
<!-- Toolbar en alta resolución -->
<mat-toolbar color="primary" cfShow cfHide.xs>
    <img class="logo-rs" src="assets/images/logo-rs.png"> 
    <span class="spacer"></span> 
    <button mat-button>
      <mat-icon>info</mat-icon>
      <!-- TODO: añadir funciones toolbar alta resolución -->
      <!-- ... -->
    </button>
</mat-toolbar>
