/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/** Título central */
.title {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  margin-top: 40px;
}

/** Distribución principal auth */
.authContainer {
  min-height: 100px;
  padding: 10px;
  margin: 20px auto 20px auto;
}

/** Separacion vertical */
.alto40{
  margin-top: 40px;
}

/** Padding Login */
.padBoton {
  padding-left: 280px;
  padding-top: 50px;
}

.padContent {
  padding-top: 30px;
  padding-left: 300px;
  padding-right: 300px;
}

.padInputs {
  padding-top: 20px;
  padding-left: 100px;
  padding-right: 100px;
}

/** Separación de elementos en los extremos opuestos */
.spacer {
  flex: 1 1 auto;
}


