/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/** LOGO RS **/
.logo-rs{
    height: 50px;
    margin: 20px 20px 20px 5px; /*t,r,b,l*/
}

/** Título central **/
.title {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    margin-top: 40px;
    white-space: normal;
    line-height: 1.5;
}

/** Subtítulo Tamaño Grande**/
.subtitulo {
    font-size: 25px;
    white-space: normal;
    margin-bottom: 5px;
    line-height: 1.5;
}

/** Subtítulo Tamaño Pequeño**/
.subtituloS {
    font-size: 20px;
    white-space: normal;
    margin-bottom: 5px;
    line-height: 1.5;
}

/** Contenedor principal **/
.principContainer {
    min-height: 100px;
    padding: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

.buttonWidth{
  width: 100px;
  margin-left: 10px;
}

/** Separación de elementos en los extremos opuestos **/
.spacer {
    flex: 1 1 auto;
}

.alto10{
    margin-top: 10px;
}

/** Separacion vertical **/
.alto20{
    margin-top: 20px;
}

.alto40{
    margin-top: 40px;
}

.alto75{
    margin-top: 75px;
}

/** Separacion horizontal **/
.anchoIzq20{
    margin-left: 20px;
}

/** Mensaje alerta error formulario API **/
.alert-danger {
    background-color: #f8d7da; /* Color de fondo rojo claro */
    color: #721c24; /* Color de texto oscuro */
    border: 1px solid #f5c6cb; /* Borde rojo */
    padding: 15px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    margin-bottom: 20px; /* Espaciado inferior */
}

/** Spinner de carga **/
.loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}












